header { background-color: #171721;
	color: #f6f5ff;
	text-align: left;
	padding; 0;}
nav {	font-size: 110%;
	padding: 0;
	text-align: center;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #171721;
}

ul li {
  float: left;
}
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
h1 { font-family: Georgia, Times New Roman, serif; 
	letter-spacing: 0.25em; }
h2 { color: #FFFFFF;
	font-family: Georgia, Times New Roman, serif; 
	padding-left: 2em;}
#wrapper {
	background-color: #90C7E3;
	background-image: linear-gradient(to bottom, #2f27ce, #63d5ff);
}
p { font-family: Georgia, Times New Roman, serif;
	padding-left: 2em;}
footer {font-size: 75%;
	font-family: Georgia, Times New Roman, serif;
	font-style: italic;
	text-align: center;
	padding: 2em;
	background-color: #00ff48;}
iframe { float: right; 
	margin: 1em 1em 1em 1em; }

#homehero { height: 600px;
	background-image: url(records.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat; 
	}

table { border-collapse: collapse;
	border: 2px solid #3399CC; 
	float: left;
	margin: 25px;}
td, th { padding: 0.5em;
	border: 2px solid #3399CC; }
td { text-align: center; }
.text { text-align: left;}
tr:nth-of-type(odd) { background-color: #F5FAFC;}

form { display: flex;
	flex-direction: column;
	flex-wrap: nowrap; }
input { margin-bottom: .5em; }
textarea { margin-bottom: .5em; }
